.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    /* border: 1px solid red; */

}

h1{
    font-size: 2rem;
}

P{
    font-size: 0.9rem;
}

em {
    font-style: normal !important;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

.tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
}

.tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
}

.tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
}

.primary-hr {
    border: 0;
    height: 2px;
    /* Adjust thickness */
    background-color: #651bf8;
    /* Custom color */
    margin: 50px 0px;
}

.no-hr {
    border: 0;
    height: 2px;
    /* Adjust thickness */
    background-color: #651bf800;
    /* Custom color */
    margin: 50px 0px;
}


.mt-70 {
    padding-top: 70px;
}

.mb-70 {
    padding-bottom: 70px;
}


a {
    text-decoration: none;
}


.text-primary {
    color: #8C52FF !important;
}

.required-asterisk {
    color: red;
    font-weight: bold;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
    background-color: rgb(80, 80, 80) !important;
    cursor:not-allowed;
}

.input-group select,
.input-group input {
    height: 38px; 
}

.bg-primary {
    background-color: #8C52FF !important;
}

.text-shadow {
    text-shadow: #2200668a 5px 5px 10px;
}


.btn-primary {
    /* padding: 5px 15px 8px 15px; */
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #8C52FF;
    color: #fff;
    font-size: 1rem !important;
    outline: none;
    border: none;
    text-align: center;
}

.btn-primary:hover {
    background-color: #651bf8;
    transform: scale(102%);
}


/* Preloader Styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #fff; */
    background: linear-gradient(to top, #dfcfff, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease; /* Fade out transition */
}

#logo {
    height: 50px;
    margin-bottom: 20px;
}

/* Loading bar container */
#loading-bar-container {
    width: 200px;
    height: 5px;
    background-color: #949494;
    border-radius: 10px;
    overflow: hidden; /* Ensure the loading bar stays inside the container */
}

#loading-bar {
    height: 100%;
    width: 0;
    background-color: #8C52FF; /* Primary color for loading bar */
    border-radius: 10px;
    transition: width 0.5s ease; /* Smooth transition as the bar fills */
}

/* Content Styles */
#content {
    display: none; /* Hidden until preloader is gone */
}

.hidden {
    opacity: 0;
    transform: translateY(50px); /* Move content down by 50px */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0); /* Animate back to normal position */
}




#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #8C52FF;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    display: none;
    font-size: 18px;
}

#backToTopBtn.show {
    display: block;
}

#backToTopBtn:hover {
    background-color: #651bf8;
}

@media screen and (max-width: 600px) {
    #backToTopBtn {
        bottom: 15px;
        right: 15px;
        padding: 10px;
        font-size: 16px;
    }
}

.fullscreen-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.822);
    backdrop-filter: blur(10px);

    z-index: 1050;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* Show the menu when the collapse is open */
.fullscreen-menu.show {
    transform: translateX(0);
}

/* Style for the close button */
.fullscreen-menu .close-btn {
    /* position: absolute; */
    top: 20px;
    right: 20px;
    font-size: 3.5rem;
    cursor: pointer;
}


.event-tickets-strip {
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 5px 0;
    background: linear-gradient(45deg, #ff6f61, #d83f63);
    background-size: 200% 200%;
    animation: gradientBG 10s ease infinite;
    text-align: center;
    color: #fff;
    font-size: 10px;
    bottom: 0;
    left: 0;
    overflow: hidden; /* Ensures content stays within bounds */
}

.event-tickets-strip a {
    color: #fff;
    text-decoration: underline;
    margin: 0;
    display: inline-block;
    animation: popText 1s ease-in-out infinite;
}

.event-tickets-strip p {
    margin: 0;
    animation: popText 1s ease-in-out infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

@keyframes popText {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

/* Ensure the navbar toggler is on top */
.navbar-toggler {
    z-index: 1;
}

.active {
    color: #8C52FF !important;
}

/* Hide the fullscreen menu by default on larger screens */
@media (min-width: 992px) {
    .fullscreen-menu {
        display: none;
    }
}

/* Dropdown animation */
.dropdown-menu {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}

/* Show dropdown on hover */
.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.nav-link {
    font-weight: 700;
}


/* Navbar default padding */
.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: padding 0.3s ease;
}

/* Shrinked navbar padding */
.navbar.shrink {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: #ffffffb6 !important;
    backdrop-filter: blur(10px) !important;
    transition: background-color 1s ease, backdrop-filter 1s ease;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }
  
  .navbar-toggler-icon {
    background: url('data:image/svg+xml;charset=utf8,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"%3e%3cpath stroke="%23ffffff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/%3e%3c/svg%3e') center / 100% no-repeat;
  }
  
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  
  .navbar-toggler:active {
    background-color: #8C52FF; /* Purple color */
  }
  
  .navbar-toggler span {
    display: block;
    width: 2rem;
    height: 2px;
    background-color: #8C52FF; /* Purple color */
    position: relative;
    transition: background-color 0.3s;
  }
  
  .navbar-toggler span:before,
  .navbar-toggler span:after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2px;
    background-color: #8C52FF; /* Purple color */
    transition: background-color 0.3s;
  }
  
  .navbar-toggler span:before {
    top: -6px;
  }
  
  .navbar-toggler span:after {
    top: 6px;
  }
  
  .navbar-toggler.collapsed span {
    background-color: #8C52FF; /* Purple color */
  }
  
  .navbar-toggler.collapsed span:before,
  .navbar-toggler.collapsed span:after {
    background-color: #8C52FF; /* Purple color */
  }
  

.banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    /* Vertically centers the content */
}

.banner-text h2 {
    font-size: 4rem;
}


.banner-text h2 {
    font-size: 4rem;
}



.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Ensure video is behind other content */
}

.desktop-video {
    display: none;
}

.mobile-video {
    display: none;
}

@media only screen and (min-width: 768px) {
    .desktop-video {
        display: block;
    }

    .mobile-video {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .desktop-video {
        display: none;
    }

    .mobile-video {
        display: block;
    }

    .banner-text h2 {
        font-size: 3rem;
    }

    .banner-text {
        width: 90%;
    }
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 55%;
    width: 380px;
    height: fit-content;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.842);
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    backdrop-filter: blur(10px);
}


.popup h2 {
    font-size: 2rem;
}

.popup input {
    margin: 5px 0px 10px 0px;
}

.popup .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup .close:hover,
.popup .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


.grad-bg{
    background-image: linear-gradient(to top, #8c52ff7a, #fff);
}

.client-card-wrapper {
    display: none;
}

.client-card-wrapper.show {
    display: block;
}

#load-more {
    display: none;
}


.error-page {
    text-align: center;
}

.error-page h1 {
    font-size: 8rem;
    color: #333;
    margin: 50px 0px;
}

.error-page p {
    font-size: 1.5rem;
    color: #666;
}



.background-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-image: linear-gradient(to bottom, #8c52ff2a, #fff);
    /* background-size: cover; */
    /* background-positio; */
    background-repeat: no-repeat;
    color: rgb(43, 43, 43);
    text-align: center;
    padding: 20px;
}

.content {
    width: 60%;
}


@media (max-width: 767.98px) {
    .background-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
        background-image: linear-gradient(to bottom, #8c52ff2a, #fff);
        /* background-size: cover; */
        /* background-positio; */
        background-repeat: no-repeat;
        color: rgb(43, 43, 43);
        text-align: center;
        padding: 5px;
    }

    .content {
        width: 90% !important;
    }

}


/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}



/* .clients {
    margin-top: 100px;
} */


.client-card {
    border-radius: 20px;

    padding: 15px;
    background-image: linear-gradient(to bottom, #8c52ff2a, #8c52ff33);
    transition: all 0.3s ease;
    border: none;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-img-top {
   border-radius: 20px;
}

/* .events-section {
    padding: 60px 0;
} */

.event-card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}


.event-card .card-body {
    padding: 20px;
}

.event-card .card-title {
    font-size: 1.5rem;
}

.event-card .card-text {
    font-size: 1rem;
}

.event-img img{
height: 200px;
width: 400px;
object-fit: cover;
overflow: hidden;
border-radius: 15PX;
border: 2px solid #8C52FF;
}

.customer-logos img{
    border-radius: 15PX;
    border: 2px solid #8C52FF;
    }

.services-stats {
    background: url('assets/bg-2.webp') no-repeat right center;
    background-size: 50%;
    background-position: left;
}

.stats {
    height: 100%;
    padding: 20px;
}

.stat-box {
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    background-color: #8C52FF;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-box:hover {
    transform: scale(102%);

}

@media (max-width: 767.98px) {


    .stats {
        background-position: center;
    }

    .services-stats {
        margin-top: 70px;
        background: url('assets/bg-2.webp') no-repeat right center;
        background-size: 120%;
        background-position: center;
        background-position-y: top;
    }

    .stat-box {
        border-radius: 20px;
        margin: 5px 0px;
        height: 112px;
        width: 50%;
        background-color: #8C52FF;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .services {
        margin-top: 30px;
    }

}

.image-section img {
    border-radius: 20px;
}

.image-section img:hover {
    transform: scale(102%);
}


.blogs-section {
    background-image: url('assets/bg-3.webp');
    background-size: cover;
    background-position: center;
}

@media (max-width: 767.98px) {
    .blogs-section {
        background-image: url('assets/bg-3.webp');
        background-size: cover;
        background-position-x: right;
    }

    .image-section {
        margin-top: 70px;
        border-radius: 20px;
    }
}


.aboutus-section {
    background-image: url('assets/bg-4.webp');
    background-size: cover;
    background-position: center;
}

@media (max-width: 767.98px) {
    .aboutus-section {
        background-size: cover;
        background-position-x: right;
    }
}

.card {
    background: #f5f0ff9d !important;
    backdrop-filter: blur(10px);
}




.contact-section {
    background-image: linear-gradient(to top, #8c52ff2a, #fff);
    background-size: cover;
    color: #000000;
    padding-bottom: 50px;
}

.contact-section .form-container {
    background: rgba(255, 255, 255, 0.5);
    /* semi-transparent background */
    padding: 30px;
    border-radius: 8px;
}

.contact-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.contact-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-link {
    text-decoration: none;
    font-size: 1.1rem;
}

.contact-link:hover, .fa-solid:hover {
    color: #651bf8;
}

.fa-solid {
    margin-bottom: 10px;
}


.card-img-custom {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.blog-img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.related-posts img {
    height: 150px;
    object-fit: cover;
    width: 100%;
}
.related-posts .card {
    margin-bottom: 20px;
}

.service-card {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}
.service-card:hover {
    transform: translateY(-10px);
}
.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.service-card-body {
    padding: 20px;
}
.service-card-title {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
}
.service-card-text {
    font-size: 1rem;
    color: #6c757d;
}

/* footer */
footer {
    background-color: #180047;
}

.get-in-touch {
    width: 100%;
    height: fit-content;
    border-radius: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 50px 30px;
}

.subscribe{
    max-width: 90% !important;
}

@media (max-width: 767.98px) {
    .subscribe{
        max-width: 100% !important;
    }

    .mobile-align{
        text-align: left !important;
    }
    
}

.get-in-touch a{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  

  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  